@charset "utf-8";
.welcomeCss {
}
body{
background-color:#FFF;
margin:0px;
font-family:Georgia Regular;
}
#container{
margin:auto;
width:980px;
height:1010px;
//border:5px solid white;
box-shadow: 5px 5px 10px #202020;

}
.header{
width:980px;
height:150px;
//border:1px solid blue;
background-color:#0976e2;	
font-size:36px;
text-align:center;
line-height:3;
}
.C{
font-size:55px;
color:white;
}
.heading{
width:630px;
height:150px;
//border:1px solid black;
float:right;
margin-right:20px;
}
.logo{
width:230px;
height:147px;
//border:1px solid black;
float:left;
margin-left:100px;
}
.center{
width:980px;
height:780px;
//background-color:#B7E8FF;
border:1px solid #0976e2;
background-image:url('back.jpg');
background-size:cover;
}


.controls{
width:300px;
height:200px;
//border:1px solid #c3c3c3;
//background-color:#B7E8FF;
margin-left:340px;	
margin-right:340px;
margin-top:200px;
border-radius:5px;
}
.controls ul{
margin:0px;
width:250px;
height:170px;
//border:1px solid #c3c3c3;
padding-left:50px;
padding-top:30px;
}
.controls ul li{
//border:1px solid red;
list-style:none;
border-radius:5px;
width:198px;
text-align:center;
background-color:#0976e2;
height:46px;
margin-bottom:30px;
}
.controls ul li a{
//border:1px solid black;
font-size:40px;
text-decoration:none;
color:black;
}
.controls ul li:hover{
background-color:black;
}
.controls ul li:hover a{
color:white;
}

.footer{
width:980px;
height:80px;
//border:1px solid blue;
background-color:#0976e2;
margin-top:0px;
}

footer {
width: 980px;
background:#0976e2;
float: left;
margin: 0 0 .5% 0;
//border-radius:30px;
//box-shadow: 5px 5px 10px #202020;
display:block;
height:70px;
}

address {
font-size : 17px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 2px 1px 0px #202020;
height:70px;
margin-top:12px;
}